.overlay {
    height: 700vh;
    width: 100%;
    background-color: rgba(86, 98, 149,0.75);
    position: absolute;
  }
  
  
  .nav-bar-container {
    font-family: 'Italiana', sans-serif;
    font-size: 2vw;
    color: #fff1db;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100%;
  }
  
  .logo {
    font-size: 5vw;
    padding: 2vw 0 0 2vw;
  }
  
  .logo:hover {
    cursor: pointer;
  }
  
  .center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  
@media screen and (max-width: 480px) {  
  .overlay {
    padding-bottom: 25vh;
    height: 0;
  }

  .logo {
    font-size: 20vw;
  }
  
  .margin {
    margin-bottom: 5vh;
  }
  
  
  .center {
    height: 100vh;
  }

  .long {
    height: 150vh;
  }

  .longer {
    height: 200vh;
  }

  .short {
    height: 80vh;
  }

  .overlay {
    height: 900vh;
  }
}
  
  
  
  