.project-one-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff1db;
    text-align: left;
}

.project-one-title {
    font-size: 2rem;
    font-family: 'Elephant', sans-serif;
    width: 30rem;

    hr {
        margin-top: 0;
        background-color: #fff1db;
        height: 1px;
        border: none;
        width: 30rem;
    }
}

.project-one-image-container {
    position: relative;
    width: 70%;
}

.project-one-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
    
}

.overlay-one {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0);
    z-index: 1;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background 0.3s ease-in;

    button {
        font-size: 2rem;
        padding: 1rem 2rem;
        border: 0.3vw solid white;
        border-radius: 20px;
        background: none;
        color: white;

        opacity: 0;
        transition: opacity 0.3s ease-in;

    }

    button:hover {
        background: rgba(0,0,0,0.3);
        cursor: pointer;
    }
}

.project-one-image-container:hover {
    .project-one-screenshot {
        opacity: 1;
    }

    .overlay-one {
        background: rgba(0,0,0,0.6);

        button {
            opacity: 1;
        }
    }
}

.project-one-description-container {
    width: 40rem;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 10rem;
    
    span {
        font-size: 2rem;
        font-family: 'Elephant', sans-serif;
    }

    a {
        color: #fff1db;
    }

    a:hover {
        cursor:pointer;
    }

    img {
        height: 2rem;
        width: 2rem;
        filter: invert(87%) sepia(18%) saturate(281%) hue-rotate(342deg) brightness(106%) contrast(101%);
    }
}

.web-link {
    margin-left: 0.5vw;
}

.description-title {
    text-align: right;
}

.project-one-description {
    padding: 1rem;
    background-color: #7383b5;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Abhaya Libre', sans-serif;

    p {
        margin: 0;
    }

    span {
        font-family: 'Abhaya Libre', sans-serif;
        font-size: 1.5rem;
    }

    hr {
        background-color: #fff1db;
        height: 1px;
        border: none;
    }

}

.button-link-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

    button {
        font-size: 1.5rem;
        font-family: 'Abhaya Libre', sans-serif;
        color: #B2FFD5;
        border-radius: 20px;
        background: none;
        padding: 0.5vw 1vw;
        border: 1px solid #B2FFD5;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: none;
            border-radius: 20px;
            z-index: -2;
          }
          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: #B2FFD5;
            transition: all .3s;
            border-radius: 20px;
            z-index: -1;
          }
          &:hover {
            color: #7383b5;
            cursor: pointer;
            &:before {
              width: 100%;
            }
          }
    }
}

@media screen and (max-width: 1000px) {

    .project-one-description-container {
        width: 30rem;
        position: absolute;
        z-index: 1;
    }

    .project-one-image-container {
        width: 85%;       
    }
}

@media screen and (max-width: 768px) {
    .project-one-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
        
    .project-one-image-container {
        width: 100%;       
    }
    
    .project-one-description-container {
        width: 100%;
        text-align: left;
        position: static;
    }

    .project-one-title {
        width: 100%;

        hr {
            width: 100%;
        }
        
}

    
}

@media screen and (max-width: 480px) {
    .project-one-title {
        margin-bottom: 3rem;
    }

    .project-one-image-container {
        text-align: left;
    }

    .project-one-image-container span {
        font-size: 2rem;
        font-family: 'Italiana', sans-serif;
    }    

    #knife {
        height: 2rem;
        width: 2rem;
        filter: invert(87%) sepia(18%) saturate(281%) hue-rotate(342deg) brightness(106%) contrast(101%);
    }

    .project-one-image {
        margin-top: 1rem;
    }

    .overlay-one {
        top: 3.6rem;

        button {
            font-size: 1rem;
            padding: 1rem 1.5rem;
        }
    }

    .project-one-title {
        font-family: 'Italiana', sans-serif;
    }
}