.purveyor-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
    padding: 1.5vw 0 0 2vw;
    position: fixed;
    z-index: 1;
    top: 0.5vw;
}

.purveyor-logo {
    font-size: 5vw;
    font-family: 'Italiana', sans-serif;
    color: #FFEAC9;
}

.purveyor-logo:hover {
    cursor: pointer;
}

.return-one {
    button {
        font-family: 'Italiana', sans-serif;
        font-size: 2vw;
        color: #FFEAC9;
        background: none;
        padding: 0.5vw 1vw;
        border-radius: 20px;
        border: 1px solid #FFEAC9;
    }

    button:hover {
        color: rgba(0,0,0,0.5);
        background-color: #FFEAC9;
        cursor: pointer;
    }
}

.purveyor-blog-title {
    padding-left: 22vw;
    font-size: 4vw;
    text-decoration: underline;
    font-family: 'Italiana', sans-serif;
    color: #FFEAC9;
    margin-top: 2vw;

    img {
        height: 4.2vw;
        width: 4.2vw;
        filter: invert(88%) sepia(22%) saturate(469%) hue-rotate(330deg) brightness(105%) contrast(101%);
    }
}

.purveyor-blog-subtitle {
    padding: 0 22vw;
    font-size: 2vw;
    font-family: 'Italiana', sans-serif;
    color: #B2FFD5;
    margin-bottom: 4vw;
    
    p {
        margin: 0;
    }
}

.purveyor-content {
    position: relative;

}




.purveyor-screenshots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4vw 0 2vw 0;
}


.purveyor-image-container {
    width: 55vw;

    img {
        height: 100%;
        width: 100%;
    }
}

.purveyor-paragraphs {
    text-align: left;
    padding: 0 22vw;

    p {
        font-family: 'Abhaya Libre', sans-serif;
        font-size: 1.4vw;
        color: #FFEAC9;  
    }

    span {
        font-family: 'Abhaya Libre', sans-serif;
        font-size: 1.4vw;
        color: #B2FFD5;
    }
}

.caption {
    font-size: 1vw;
    color: #B2FFD5;
    font-family: 'Abhaya Libre', sans-serif;
}


@media screen and (max-width: 480px) {
    
    .purveyor-logo {
        font-size: 20vw;

    }
    
    .return-one {
        button {
            font-size: 10vw;
            padding: 1vw 3vw;
        }
    
    }
    
    .purveyor-blog-title {
        padding-left: 15vw;
        font-size: 15vw;
        margin-top: 24vw;
    
        img {
            height: 15vw;
            width: 15vw;
            filter: invert(88%) sepia(22%) saturate(469%) hue-rotate(330deg) brightness(105%) contrast(101%);
        }
    }
    
    .purveyor-blog-subtitle {
        padding: 0 15vw;
        font-size: 8vw;
    }
    
    .purveyor-content {
        position: relative;
    }
    
    
    
    
    .purveyor-screenshots {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4vw 0 2vw 0;
    }
    
    
    .purveyor-image-container {
        width: 70vw;
    
        img {
            height: 100%;
            width: 100%;
        }
    }
    
    .purveyor-paragraphs {
        text-align: left;
        padding: 0 15vw;
    
        p {
            font-family: 'Abhaya Libre', sans-serif;
            font-size: 6vw;
            color: #FFEAC9;  
        }
    
        span {
            font-family: 'Abhaya Libre', sans-serif;
            font-size: 6vw;
            color: #B2FFD5;
        }
    }
    
    .caption {
        font-size: 4vw;
        color: #B2FFD5;
        font-family: 'Abhaya Libre', sans-serif;
    }
}





