.contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #fff1db;
    padding: 0 5rem;

    p {
        font-family: 'Elephant', sans-serif;
        font-size: 2rem;
        color: #B2FFD5;
    }
}

.contact-title {
    font-size: 2rem;
    font-family: 'Elephant', sans-serif;
    width: 30rem;

    hr {
        margin-top: 0;
        background-color: #fff1db;
        height: 1px;
        border: none;
    }
}

.phone-number {
    margin-bottom: 0;
}

.email {
    margin-top: 0;
}

.social-media {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    
    button {
        font-size: 1.5rem;
        font-family: 'Abhaya Libre', sans-serif;
        color: #fff1db;
        border-radius: 20px;
        background: none;
        padding: 0.5rem 1rem;
        border: 1px solid #fff1db;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: none;
            border-radius: 20px;
            z-index: -2;
          }
          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: #fff1db;
            transition: all .3s;
            border-radius: 20px;
            z-index: -1;
          }
          &:hover {
            color: rgba(0,0,0,0.5);
            cursor: pointer;
            &:before {
              width: 100%;
            }
          }
    }
}

.footer {
    position: absolute;
    color: #F7F7F7;
    font-size: 1rem;
    bottom: 1rem;
    font-family: 'Abhaya Libre', sans-serif;
    text-align: center;
  
    p {
        margin: 0 0 0.5vh 0;
    }
}

@media screen and (max-width: 780px) {
   
    .contact-title {
        width: 100%;
    }
    
}

@media screen and (max-width: 500px) {
    .contact-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: #fff1db;
        padding: 0 5rem;
    
        p {
            font-family: 'Elephant', sans-serif;
            font-size: 1.5rem;
            color: #B2FFD5;
        }
    }

    .social-media {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1rem;
    }
}