.home-container {
    text-align: left;
    padding: 0 5rem;

    p {
        margin: 0;
        color: #fff1db;
    }

    button {
        font-family: 'Italiana', sans-serif;
        font-size: 1.5rem;
        color: #fff1db;
        background: none;
        border: 1px solid #fff1db;
        padding: 0.25rem 1rem;
        margin-top: 1rem;
        z-index: 2;
        position: relative;
        transition: all .3s;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: none;
            z-index: -2;
          }
          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: #fff1db;
            transition: all .3s;
            z-index: -1;
          }
          &:hover {
            color: rgba(0,0,0,0.5);
            cursor: pointer;
            &:before {
              width: 100%;
            }
          }
    }
}

.home-title {
    font-size: 6rem;
    font-family: 'Elephant', sans-serif;
}

.home-description {
    font-size: 1.5rem;
    font-family: 'Abhaya Libre', sans-serif;

    span {
        font-family: 'Elephant', sans-serif;
        color: #B2FFD5;
    }
}

.scroll-arrow {
    position: absolute;
    top: 90vh;
    color: #F7F7F7;
    font-size: 1rem;
    font-family: 'Abhaya Libre', sans-serif;
    text-align: center;
    z-index: 1;

    p {
        margin: 0 0 0.5rem 0;
    }
}

@media screen and (max-width: 1024px) {
    .home-title {
        font-size: 4.5rem;
    }
}

@media screen and (max-width: 768px) {
    .home-container {
        text-align: center;
        

        p {
            margin: 1rem 0;
        }

        button {
            margin-top: 1rem;
        }
    }

    .home-description {
        font-size: 1rem;
    }

    .home-title {
        font-family: 'Elephant', 'Italiana', sans-serif;
        font-size: 4rem;
    }

}

@media screen and (max-width: 600px) {
    .home-title {
        font-family: 'Elephant', 'Italiana', sans-serif;
        font-size: 3rem;
    }
}
