.home-container {
    text-align: left;

    p {
        margin: 0;
        color: #FFEAC9;
    }

    button {
        font-family: 'Italiana', sans-serif;
        font-size: 2vw;
        color: #FFEAC9;
        background: none;
        border: 1px solid #FFEAC9;
        padding: 0 0.75vw 0.25vw 0.75vw;
        margin-top: 2vw;
        z-index: 2;
        position: relative;
        transition: all .3s;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: none;
            z-index: -2;
          }
          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: #FFEAC9;
            transition: all .3s;
            z-index: -1;
          }
          &:hover {
            color: rgba(0,0,0,0.5);
            cursor: pointer;
            &:before {
              width: 100%;
            }
          }
    }
}

.home-title {
    font-size: 8vw;
    font-family: 'Elephant', sans-serif;
}

.home-description {
    font-size: 2vw;
    font-family: 'Abhaya Libre', sans-serif;

    span {
        font-family: 'Elephant', sans-serif;
        color: #B2FFD5;
    }
}

.scroll-arrow {
    position: absolute;
    bottom: 1.5vh;
    color: #F7F7F7;
    font-size: 1vw;
    font-family: 'Abhaya Libre', sans-serif;
    text-align: center;
    z-index: 1;

    p {
        margin: 0 0 0.5vh 0;
    }
}

@media screen and (max-width: 480px) {
    .home-title-container {
        margin: 4vw 0;
    }

    .home-container {
        text-align: center;

        button {
            font-size: 6vw;
            padding: 0 2vw 1vw 2vw;
            margin-top: 6vw;
        }

        p {
            padding: 0 10vw;
        }
    }

    .home-title {
        font-size: 16vw;
    }
    
    .home-description {
        font-size: 6vw;
    }
    
    .scroll-arrow {
        font-size: 4vw;

    }
}