.project-three-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff1db;
    margin-top: 5rem;
}

.project-three-image-container {
    position: relative;
    width: 70%;

    .overlay-three {
        position: absolute;
        bottom: 0;
        left: 0;
        top: 0;
        right: 0;
        background: rgba(0,0,0,0);
        z-index: 1;
        
        display: flex;
        justify-content: center;
        align-items: center;
    
        transition: background 0.3s ease-in;
    
        button {
            font-size: 2rem;
            padding: 1rem 2rem;
            border: 0.3vw solid white;
            border-radius: 20px;
            background: none;
            color: white;
    
            opacity: 0;
            transition: opacity 0.3s ease-in;
    
        }
    
        button:hover {
            background: rgba(0,0,0,0.3);
            cursor: pointer;
        }
    }
    
}

.project-three-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}


.project-three-image-container:hover {
    .project-three-screenshot {
        opacity: 1;
    }

    .overlay-three {
        background: rgba(0,0,0,0.6);

        button {
            opacity: 1;
        }
    }
}


.project-three-description-container {
    width: 40rem;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 8.5rem;

    span {
        font-size: 2rem;
        font-family: 'Elephant', sans-serif;
    }

    a {
        color: #FFEAC9;
    }

    a:hover {
        cursor: pointer;
    }
}

.project-three-description {
    padding: 1rem;
    background-color: #7383b5;
    text-align: left;
    font-size: 1.5rem;
    font-family: 'Abhaya Libre', sans-serif;

    p {
        margin: 0;
    }

    span {
        font-family: 'Abhaya Libre', sans-serif;
        font-size: 1.5rem;
    }

    hr {
        background-color: #fff1db;
        height: 1px;
        border: none;
    }

}

@media screen and (max-width: 1000px) {

    .project-three-description-container {
        width: 30rem;
        position: absolute;
        z-index: 1;
    }

    .project-three-image-container {
        width: 85%;       
    }
}

@media screen and (max-width: 768px) {
    .project-three-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
        
    .project-three-image-container {
        width: 100%;       
    }
    
    .project-three-description-container {
        width: 100%;
        text-align: left;
        position: static;
    }
    
}

@media screen and (max-width: 480px) {
    .project-three-title {
        margin-bottom: 3rem;
    }

    .project-three-image-container span {
        font-size: 2rem;
        font-family: 'Italiana', sans-serif;
    }    

    .project-three-image {
        margin-top: 1rem;
    }

    .project-three-image-container {
        text-align: left;
    }

    .project-three-image-container {
        .overlay-three {
            top: 3.55rem;

            button {
                font-size: 1rem;
                padding: 1rem 1.5rem;
            }
        }

    }
}