.nav-bar-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    span {
        position: relative;
    }

    span::after, span::before {
        transition: all .5s;
    }

    span::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '.';
        color: transparent;
        background: #fff1db;
        height: 1px;
    }

    span:hover::after {
        width: 100%;
    }

    span:hover {
        cursor: pointer;
    }
}

@media screen and (max-width: 600px) {
    .nav-bar-options {
        display: none;
    }
}
