.primordial-content {
    position: relative;
}

.primordial-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;
    padding: 1.5vw 0 0 2vw;
    position: fixed;
    z-index: 1;
    top: 0.5vw;
}

.primordial-logo {
    font-size: 5vw;
    font-family: 'Italiana', sans-serif;
    color: #fff1db;
}

.primordial-logo:hover {
    cursor: pointer;
}

.return-three {

    button {
        font-family: 'Italiana', sans-serif;
        font-size: 2vw;
        color: #fff1db;
        background: none;
        padding: 0.5vw 1vw;
        border-radius: 20px;
        border: 1px solid #fff1db;
    }

    button:hover {
        color: rgba(0,0,0,0.5);
        background-color: #fff1db;
        cursor: pointer;
    }

}

.primordial-blog-title {
    padding-left: 22vw;
    font-size: 4vw;
    text-decoration: underline;
    font-family: 'Italiana', sans-serif;
    color: #fff1db;
    margin-top: 2vw;
}

.primordial-blog-subtitle {
    padding-left: 22vw;
    font-size: 2vw;
    font-family: 'Italiana', sans-serif;
    color: #B2FFD5;
    margin-bottom: 4vw;
    
    p {
        margin: 0;
    }
}

.primordial-screenshots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4vw 0 2vw 0;
}

.primordial-image-container {
    width: 55vw;

    img {
        height: 100%;
        width: 100%;
    }
}

.primordial-paragraphs {
    text-align: left;
    padding: 0 22vw;

    p {
        font-family: 'Abhaya Libre', sans-serif;
        font-size: 1.4vw;
        color: #fff1db;  
    }

    span {
        font-family: 'Abhaya Libre', sans-serif;
        font-size: 1.4vw;
        color: #B2FFD5;
    }
}


.overlay-page {
    padding: 1vh 0;
    width: 100%;
    background-color: rgba(86, 98, 149,0.75);
    position: absolute;
}

@media screen and (max-width: 480px) {
    .primordial-nav {
        position: relative;
        top: 0;
        left: 0;
    }
    
    .primordial-logo {
        font-size: 20vw;
    }
    
    
    .return-three {
    
        button {
            font-size: 10vw;
            padding: 1vw 3vw;
        }
    
    }
    
    .primordial-blog-title {
        padding-left: 15vw;
        font-size: 15vw;
        margin-top: 2vh;
    }
    
    .primordial-blog-subtitle {
        padding: 0 15vw;
        font-size: 8vw;
        
        p {
            margin: 0;
        }
    }
    
    .primordial-screenshots {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 4vw 0 2vw 0;
    }
    
    .primordial-image-container {
        width: 70vw;
    
        img {
            height: 100%;
            width: 100%;
        }
    }
    
    .primordial-paragraphs {
        text-align: left;
        padding: 0 15vw;
    
        p {
            font-family: 'Abhaya Libre', sans-serif;
            font-size: 6vw;
            color: #fff1db;  
        }
    
        span {
            font-family: 'Abhaya Libre', sans-serif;
            font-size: 6vw;
            color: #B2FFD5;
        }
    }
}



